.detail_heading {
  padding-top:3%;
  margin: 1%;
}
.detailimg {
height: 48%;
width:47%;
margin: 1%;
border-radius: 2%;
}
.detailimg:hover,.ful_detailimg:hover {opacity: 0.7;}
.ful_detailimg { 
height: 98%;
width: 98%;
margin:1%;
border-radius: 2%;
}
.contents {
    /* background-color: aqua; */
    display: flex;

}
.pics {
    /* background-color: antiquewhite; */
    width: 47%;
  margin:0.4%;
}

.ful_pic {
   /* background-color: aquamarine; */
   margin:2%;
    
}
#button2:hover,#button1:hover {
    /* background-color: yellow; */
    opacity: 0.6;
    
  }
.min_pic {
    /* background-color: blue; */
    margin:1%;
}
.de_details {
    /* background-color: brown; */
    width:30%;
    margin:0.5%;
}
#button2,#button1 {
  border: none;
  color:rgb(56, 9, 9);
  /* padding: 10%; */
  width: 99%;
  height: 70px;
  text-align: center;
  font-size: 25px;
  margin: 16px 2px;
  cursor: pointer;
  border-radius: 10px;
}
#button2{
  background-color: rgb(230, 221, 35);
}
#button1 {
  background-color: aquamarine;
}
.cart {
  margin:1%;
  color: rgb(56, 9, 9);
}
.adds{
    /* background-color: rgb(234, 132, 8); */
    width:20%;
    margin:0.5%;
}
@media screen and (max-width: 480px) {
.contents{
     flex-direction: column;
     width:99%;
}
.pics{
    /* background-color: red; */
    width: 99%;
  margin:0.4%;
}
.min_pic{
  /* background-color: blue; */
  margin:1%;
}
.de_details{
  /* background-color: brown; */
  width:99%;
  margin:0.4%;
}
.adds{
  /* background-color: rgb(234, 132, 8); */
  width:99%;
}
}


